#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 13vw 0 13vw;
    flex-direction: column;
    position: relative
}

#main-landing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#landing-left, #landing-right {
    height: 100%;
    width: 50%;
}

#landing-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome {
    font-size: 3.5em;
}

.about {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: 200;
}

.circle {
    width: 80%;
    max-width: 360px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #8561c7;
    background-image: url('../assets/me.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.view-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3vh;
    font-size: 1.2em;
}

.view-pro:hover {
    cursor: pointer;
}

.view-my-pro {
    color: rgba(255, 255, 255, 0.373);
}

.arrow-down {
    color: rgba(255, 255, 255, 0.373);
}

@media screen and (max-width: 665px) {
    #landing {
        justify-content: flex-start;
    }

    #main-landing {
        flex-direction: column-reverse;
        padding: 0 6vw;
        padding-top: 6vh;
    }
    #landing-right, #landing-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .welcome, .about {
        width: 100%;
    }

    #landing-right {
        align-items: center;
        margin-bottom: 2vh;
    }
    .circle {
        max-width: 200px;
        margin-bottom: 6vh;
    }
}

@media screen and (max-width: 655px), screen and (max-height: 580px) {
    .view-pro {
        display: none;
    }
}