#landing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15vw;
}

#landing-left, #landing-right {
    height: 100%;
    width: 50%;
}

#landing-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome {
    font-size: 3.5em;
}

.about {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: 200;
}

.circle {
    width: 80%;
    max-width: 360px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #8561c7;
}

@media screen and (max-width: 665px) {
    #landing {
        flex-direction: column-reverse;
        padding: 0 6vw;
        padding-top: 70px;
    }
    #landing-right, #landing-left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .welcome, .about {
        width: 100%;
    }

    #landing-right {
        align-items: center;
        margin-bottom: 16%;
    }
    .circle {
        max-width: 200px;
    }
}