.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
    padding: 3vh 0;
    background-color: #23202f;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 19px;
    z-index: 10;
}

.nav-btn {
    display: flex;
    cursor: pointer;
    align-items: center;
}