#project-content {
    padding: 2% 3vw 5% 3vw;
}

.project-heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: 35px;
}

#project-list {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 730px) {
    #project-content {
        padding: 2% 15px;
    }
}